* {
    margin: 0;
    padding: 0;
}

header,
main,
footer,
nav,
section {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

header,
nav,
footer {
    width: 100%;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

header {
    height: 192px;
    background-color: #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    display: block;
    background-image: url(../images/logo.png);
    width: 90px;
    height: 90px;
}

nav {
    position: absolute;
    height: 62px;
    background-color: black;
    display: flex;
    align-items: center;
}

#layout1 nav>ul {
    display: flex;
    margin: 0 auto;
    width: 1000px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul li {
    list-style: none;
}

.selected {
    background-color: #2F96B4;
}

#layout1 nav li a {
    width: 233px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}


nav a:hover {
    color: gray;
}

#layout1 main {
    height: 755px;
    width: 696px;
    position: relative;
    top: 40px;
}

.content {
    display: flex;
}

.container-boxes {
    display: flex;
    flex-wrap: wrap;
    height: 235px;
    width: 235px;
    justify-content: space-between;
}

.container-boxes {
    margin-left: 39px;
    margin-top: 82px;
}

#layout1 main>section:nth-last-child(1) {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.container-boxes>section {
    height: 100px;
    width: 100px;
    background-color: #B94A48;
}
#layout1 aside{
    width: 241px;
}
aside {
    
    background-color: #eeeeee;
}

#layout1 aside>section {
    background-color: #B94A48;
    height: 51px;
    width: 142px;
    position: relative;
    top: 252px;
    margin-left: 78px;
}

footer {
    height: 50px;
    background-color: #d6d6d6;
}

#layout2 nav {
    width: 143px;
    background-color: black;
    height: 756px;
    display: block;
    position: relative;
}


#layout2 nav a {
    margin-left: 6px;
    
}


#layout2 nav ul li a {
    height: 57px;
    display: flex;
    align-items: center;
}

#layout2 nav a:hover {
    color: gray;
}

#layout2 aside {
    width: 260px;
}


#layout2 aside .container-boxes {
    position: relative;
    margin-top: 510px;
    margin-left: 11px;
    
    
}
.container-boxes>section {
    height: 100px;
    width: 100px;
}

#layout2 Main {
    width: 600px;
    position: relative;
}
#layout2 section:empty {
    background-color: #468847;
}

#rectangle1 {
    float: left;
    background-color: #468847;
    height: 324px;
    width: 272px;
    margin-top: 22px;
    margin-left: 24px;
}

#rectangle2 {
    height: 255px;
    width: 268px;
    background-color: #468847;
    float: right;
    margin-top: 22px;
}

#rectangle3 {
    height: 387px;
    width: 270px;
    background-color: #468847;
    float: left;
    margin-top: 25px;
    margin-left: 24px;
}

#rectangle4 {
    height: 363px;
    width: 268px;
    background-color: #468847;
    float: right;
    margin-top: 25px;
}

.clear {
    clear: both;
}

#layout3 nav>ul {
    display: flex;
    justify-content: center;
}

#layout3 nav li a {
    width: 233px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#layout3 main{
    flex-wrap: wrap;
    display: flex;
}

#layout3 footer{
    position: fixed;
    bottom: 0;
    width: 1000px;
}


#layout3 main>section{
    height: 348px;
    width: 333px

}
 .plus{
        background-image: url(../images/plus.png);
        display: flex;
        width: 86px;
        height: 86px;
        font-size: auto;
        margin: auto;
        margin-top: 120px;
        cursor: pointer;
        background-repeat: no-repeat;
        align-items: center;
    }

#layout3 nav{
    width: 100%;
    justify-content: center;
    position: relative;
}
#layout3 #wrapper{
    width: 100%;
    max-width: 1000px;
    margin:auto;
}
@media  (max-width: 666px) {
    #layout3 main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    #warpper{
        width: 100%;
        max-width: 1000px;
        margin:auto;
    }
    #layout3 nav{
        display: flex;
        width: 100%;
    }
    #layout3 nav ul{
        display: flex;
        width: 100%;
    }
    
    #layout3 nav ul li a{
        display: flex;
        width: 100%;
    }

 }


    