* {
    margin: 0;
    padding: 0;
}

header,
main,
footer,
nav,
section {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    width: 100%;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

header {
    height: 192px;
    background-color: #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    display: block;
    background-image: url(../images/logo.png);
    width: 90px;
    height: 90px;
}

.content {
    display: flex;
}

#secNav {
    width: 143px;
    background-color: black;
    height: 756px;
    position: relative;
}

#secNav ul {
    align-items: center;
    width: 142px;
}

#secNav a {
    text-decoration: none;
    color: white;
    margin-left: 6px;
}

#secNav ul li {
    list-style: none;
    color: white;
}

.selected {
    background-color: #2F96B4;
}

#secNav ul li a {
    display: block;
    width: 142px;
    height: 57px;
    display: flex;
    align-items: center;
}

.aside {
    width: 260px;
    background-color: #eeeeee;
    position: relative;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    height: 235px;
    width: 235px;
    justify-content: space-between;
    align-content: space-between;
}

.container2 {
    position: absolute;
    top: 510px;
    margin-left: 11px;
}

.container2 section {
    height: 100px;
    width: 100px;
    background-color: #468847;
}

#secMain {
    height: 758px;
    width: 600px;
    position: relative;
}

#s1 {
    float: left;
    background-color: #468847;
    height: 324px;
    width: 272px;
    margin-top: 22px;
    margin-left: 24px;
}

#s2 {
    height: 255px;
    width: 268px;
    background-color: #468847;
    float: right;
    margin-top: 22px;
}

#s3 {
    height: 387px;
    width: 270px;
    background-color: #468847;
    float: left;
    margin-top: 25px;
    margin-left: 24px;
}

#s4 {
    height: 363px;
    width: 268px;
    background-color: #468847;
    float: right;
    margin-top: 25px;
}

.clear {
    clear: both;
}

footer {
    height: 50px;
    background-color: #d6d6d6;
}